@media screen and ( min-width: 992px)
.header
  width: 100%

@media  ( max-width: 1500px  )
  .container
    max-width: 1140px
  .navigation
    flex-wrap: wrap
    &-button
      margin-bottom: 40px
      &:nth-last-child(1)
        display: flex
        justify-content: center
        flex-basis: 47%
      &:nth-last-child(2)
        display: flex
        justify-content: center
        flex-basis: 47%
  .hero
    padding-top: 70px
    &-subtitle
      margin-bottom: 50px
    &-main
      &-list
        margin-bottom: 120px
      &__bg
        max-width: 560px
        top: -50px
  .advantages
    &-card
      &__text
        width: 300px
  .feedback
    &-container
      padding-right: 55px
      background-size: 550px
    &__img
      width: 600px
      left: -50px
@media  ( max-width: 1200px  )
  body
    background-position-y: 85px
  .container
    max-width: 960px
  .desktop
    display: none
  .mobile
    display: block
  .hero
    padding-top: 50px
    &-main
      &-list
        margin-bottom: 60px
      &__bg
        max-width: 410px
        top: 25px
  .advantages
    &-card
      padding: 20px
      &__text
        width: 260px
      .subtitle
        font-size: 24px
  .feedback
    &-container
      justify-content: center
    &__img
      display: none
  .footer
    &-wrapper
      &-mobile
        display: flex
        flex-direction: row
        justify-content: space-between
@media  ( max-width: 992px  )
  body
    font-size: 14px
  h1, .title
    font-size: 29px
  h2, .subtitle
    font-size: 21px
  .container
    max-width: 760px
  .logo
    height: 40px
    width: 93px
  .header
    position: relative
    padding-bottom: 15px
    &-social
      &__link
        font-size: 14px
        margin-left: 5px
      &__icon
        width: 12px
    &-menu
      order: 1
      position: static
      &__text
        display: none
  .menu
    padding: 15px
    &-burger
      margin: 0
    &-list
      display: block
      position: fixed
      right: 0
      top: 55px
      bottom: 0
      left: 100%
      border: none
      box-shadow: none
      border-radius: 0
      transform: unset
      transform: translateY(34px)
      transition: left .5s
      &-item
        &__link
          color: $grey
          font-size: 14px
    &-active .menu-list
      left: 0
      display: flex
      flex-direction: column
      text-align: start
  .menu-active .menu-burger__line:after
    transform: translate(0%, 0%) rotate(45deg)
  .menu-active .menu-burger__line:before
    transform: translate(0%, -200%) rotate(135deg)
  .navigation
    flex-wrap: wrap
    &-list
      position: static
    &-button
      width: 100%
      justify-content: space-between
      &:nth-last-child(1)
        flex-basis: unset
      &:nth-last-child(2)
        flex-basis: unset
      &-wrapper
        width: 100%
        justify-content: space-between
      &__name
        width: unset
  .hero
    padding-top: 50px
    &-title
      font-size: 29px
      margin-bottom: 5px
    &-subtitle
      font-size: 14px
      margin-bottom: 25px
    &-main
      &-list
        margin-bottom: 100px
        &__item
          margin-bottom: 10px
      &__bg
        max-width: 390px
        top: -50px
  .year
    & .subtitle
      font-size: 29px
  .advantages
    &-container
      flex-direction: column
      align-items: center
    &-card
      width: 500px
      margin-bottom: 20px
      &:nth-last-child(1)
        margin-bottom: 0
  .feedback
    &-container
      padding: 50px 0
      max-width: 100%
      border-radius: 0
      flex-direction: column
    & p.title, .text
      display: block
    & .text
      margin-bottom: 20px
      text-align: center
  sendform
      max-width: 95%
  sendform 
    & .form
      width: 100%
      &-title, .form-subtitle
        display: none
      &-subtitle:nth-last-child(1)
        display: block
      &-wrapper
        flex-direction: column
        align-items: center
        & label
          width: 100%
      &-button
        padding: 10px 90px
        margin-bottom: 10px
        margin-right: 0

  .footer
    &-devider
      display: block
    &-wrap
      flex-direction: column
    &-wrapper
      &-mobile
        flex-direction: column
      &-mobile .footer-wrap .footer__text
        max-width: 100%
        width: 100%
        margin: 0
      &-mobile .footer-wrap
        flex-direction: row
        align-items: center
      &:nth-last-child(1)
        flex-basis: min-content
    &-list
      &-item
        display: none
      &-item.active
        display: block
      &__arrow
        display: block

@media  ( max-width: 768px  )
  .container
    max-width: 576px
  .hero
    padding-top: 50px
    &-wrapper
      max-width: 60%
    &-main
      &-list
        max-width: 68%
        margin-bottom: 30px
        &__item
          margin-bottom: 10px
      &__bg
        max-width: 300px
        top: -53px
  .feedback
    &-container
      max-width: 100%
@media  ( max-width: 576px  )
  .container
    max-width: 92%
  .hero
    padding-top: 50px
    &-wrapper
      max-width: 100%
    &-main
      &-container
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
      &-list
        max-width: 100%
        margin-bottom: 0
        &__item
          margin-bottom: 10px
      &__bg
        position: static
  .year
    & .subtitle
      font-size: 21px
  .advantages
    &-card
      width: 100%
  .feedback
    &-container
      max-width: 100%
  sendForm
    & .form-button
      width: 100%
      margin-right: 0
