<div class="container header-container">
  <a href="#"> <img src="/img/logo.png" alt="лого Кивач Эстетик Плюс" class="logo header-logo"></a>
  <button class="button menu header-menu">
    <div class="menu-burger">
      <span class="menu-burger__line"></span>
    </div>
    <span>меню</span>
    <ul class="menu-list">
      <!-- <li class="menu-list-item">
            <a href="" class="menu-list-item__link">asdadasdas</a>
          </li> -->

    </ul>
    <!-- /.menu-list -->
  </button>
  <div class="social header-social">
    <img src="img/Phone.svg" alt="phone icon" class="header-social__icon">
    <a href="tel:+7 (8142) 599-880" class="header-social__link">+7 (8142) 599-880</a>
  </div>
</div>
<!-- /.container -->