 <form action="" class="form">
   <h3 class="title form-title">Напишите нам</h3>
   <p class="subtitle form-subtitle form-subtitle-top">Сотрудник клиники свяжется с вами в течение рабочего дня</p>

   <label>
     <input type="text" name="name" class="form-input" placeholder="ФИО*">
     <div class="form-img"></div>
     <span class="error"></span>
   </label>


   <div class="form-wrapper">
     <label>
       <input type="tel" name="phone" class="form-input" placeholder="+7 (999) 999-99-99*">
       <div class="form-img"></div>
       <div class="error"></div>
       <span class="error"></span>
     </label>

     <label>
       <input type="email" name="email" class="form-input form-email" placeholder="Email*">
       <div class="form-img"></div>
       <span class="error"></span>
     </label>


   </div>

   <textarea class="form-input form-comment"
     placeholder="Поле для комментария. Например, можете указать удобное для вас время для связи" name="comment" id=""
     cols="30" rows="5"></textarea>

   <p class="subtitle form-subtitle">Можете прикрепить копии медицинских документов:</p>

   <div class="file-drop-area">
     <span class="fake-btn">Выберите файл</span>
     <span class="file-msg">или перетащите сюда</span>
     <input class="file-input" type="file" multiple>
   </div>

   <div class="form-wrapper">
     <button type="submit" class="button form-button">Отправить</button>
     <p class="subtitle form-subtitle">Нажимая «Отправить», вы даете согласие на обработку <a class=""
         href="">персональных данных</a>
     </p>

   </div>
 </form>
 <!-- /.form -->