@font-face {
  font-family: "Philosopher-Regular";
  src: url("../fonts/philosopher.eot");
  src: url("../fonts/philosopher.eot?#iefix") format("embedded-opentype"), url("../fonts/philosopher.otf") format("opentype"), url("../fonts/philosopher.svg") format("svg"), url("../fonts/philosopher.ttf") format("truetype"), url("../fonts/philosopher.woff") format("woff"), url("../fonts/philosopher.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Philosopher-Bold";
  src: url("../fonts/philosopher-bold.eot");
  src: url("../fonts/philosopher-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/philosopher-bold.otf") format("opentype"), url("../fonts/philosopher-bold.svg") format("svg"), url("../fonts/philosopher-bold.ttf") format("truetype"), url("../fonts/philosopher-bold.woff") format("woff"), url("../fonts/philosopher-bold.woff2") format("woff2");
  font-weight: 700;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Philosopher-Regular", sans-serif;
  font-size: 18px;
  color: #474747;
  background-color: #EAF2F8;
  background-image: url("../img/hero-bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 50px;
}

a {
  text-decoration: none;
  color: #474747;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

h1, .title {
  font-size: 44px;
}

h2, .subtitle {
  font-size: 34px;
  font-weight: bold;
}

button {
  border: none;
  outline: none;
  background-color: #83C9B6;
  color: #fff;
  font-family: "Philosopher-Bold", sans-serif;
  font-size: 24px;
  cursor: pointer;
}

.container {
  max-width: 1420px;
  margin: auto;
}

.logo {
  width: 200px;
}

.title {
  text-align: center;
  font-family: "Philosopher-Bold", sans-serif;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mobile {
  display: none;
}

.text {
  font-size: 18px;
  color: #71716B;
}

.navigation {
  padding: 30px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navigation-button {
  position: relative;
  background-color: #fff;
  border-radius: 40px;
  height: fit-content;
  box-shadow: 0px 4px 11px 0px rgba(20, 52, 32, 0.12);
  cursor: pointer;
}
.navigation-button-wrapper {
  padding: 25px 20px;
  width: 268px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation-button__name {
  width: 100%;
  text-align: center;
  font-family: "Philosopher-Bold", sans-serif;
}
.navigation-button__arrow {
  margin-left: auto;
  transition: transform 0.3s;
}
.navigation-list {
  position: absolute;
  padding: 30px 0 10px 0;
  background-color: #fff;
  top: 43px;
  left: 0;
  right: 0;
  text-align: center;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  z-index: 9;
  box-shadow: 0px 8px 9px 0px rgba(20, 52, 32, 0.12);
  display: none;
}
.navigation-list-item {
  position: relative;
  padding: 8px 0;
  font-family: "Philosopher-Bold", sans-serif;
  color: #71716B;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transition: border 0.2s;
}
.navigation-list-item:hover {
  border-top: 1px solid #474747;
  border-bottom: 1px solid #474747;
}
.navigation-list-item:nth-last-child(1)::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background-color: transparent;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 90%;
}
.navigation-list-item:nth-last-child(1):hover {
  border-bottom: 1px solid transparent;
}
.navigation-list-item:nth-last-child(1):hover::after {
  background-color: #474747;
}
.navigation-list-item:hover .navigation-list-item__link {
  color: #474747;
}
.navigation-list-item__link {
  color: #71716B;
  transition: color 0.2s;
}

.navigation-button-active .navigation-list {
  display: block;
}

.rotate {
  transform: rotate(180deg);
}

.form {
  padding: 30px;
  background-color: #fff;
  border-radius: 30px;
  max-width: 603px;
}
.form-title {
  font-family: "Philosopher-Bold", sans-serif;
  font-size: 34px;
  color: #474747;
  text-align: start;
  margin-bottom: 5px;
}
.form-subtitle-top {
  margin-bottom: 20px;
}
.form-wrapper {
  display: flex;
  justify-content: space-between;
}
.form-comment {
  border: 1px solid #DEDEDA;
  padding: 13px 50px 10px 10px;
  width: 100%;
  border-radius: 3px;
}
.form-comment:focus {
  border-color: #474747;
}
.form-button {
  border-radius: 58px;
  padding: 10px 30px;
  font-size: 18px;
  margin-right: 20px;
}
.form-img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  transition: opacity 0.3s;
}

input, textarea {
  padding: 13px;
  outline: none;
  border: none;
  border-bottom: 1px solid #DEDEDA;
  font-size: 18px;
  color: #474747;
  width: 100%;
  resize: none;
}
input:focus-visible, textarea:focus-visible {
  border-bottom: 1px solid #474747;
}

.error {
  position: absolute;
  bottom: -15px;
  left: 10px;
  font-size: 12px;
  color: #C74545;
}

.form label {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.form-wrapper label {
  width: 45%;
}

.form-wrapper a {
  color: #1F25AB;
}

.file-drop-area {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 25px;
  border: 1px dashed #DEDEDA;
  background-color: #FBFBFB;
  border-radius: 3px;
  transition: 0.2s;
  color: #71716B;
  margin-bottom: 30px;
  margin-top: 5px;
}
.file-drop-area.is-active {
  background-color: rgba(32, 25, 25, 0.05);
}

.fake-btn {
  flex-shrink: 0;
  padding: 8px 3px;
  text-decoration: underline;
}

.file-msg {
  padding: 8px 0px;
  font-weight: 300;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}
.file-input:focus {
  outline: none;
}

.header {
  padding-top: 30px;
  background-color: #DCE4EF;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-social {
  display: flex;
  align-items: center;
}
.header-social__link {
  font-size: 24px;
  font-family: "Philosopher-Bold", sans-serif;
  margin-left: 10px;
}
.header-social__icon {
  width: 28px;
}

.menu {
  position: relative;
  padding: 8px 54px;
  border-radius: 44px;
  display: flex;
  align-items: baseline;
}
.menu-mobile {
  display: none;
}
.menu-burger {
  position: relative;
  margin-right: 10px;
  height: 12px;
  width: 18px;
}
.menu-burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 10px;
}
.menu-burger__line::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  height: 2px;
  border-radius: 10px;
  transition: transform 0.2s;
}
.menu-burger__line::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  background-color: #fff;
  height: 2px;
  border-radius: 10px;
  transition: transform 0.2s;
}
.menu-list {
  position: absolute;
  padding: 20px 0;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 30px;
  border: 1px solid #83C9B6;
  box-shadow: 0px 4px 12px 0px rgba(74, 118, 106, 0.19);
  z-index: 10;
  display: none;
}
.menu-list-item {
  padding: 5px 20px;
  transition: background-color 0.1s;
}
.menu-list-item:hover {
  background-color: #83C9B6;
}
.menu-list-item:hover .menu-list-item__link {
  color: #fff;
}
.menu-list-item__link {
  color: #83C9B6;
  transition: color 0.2s;
}
.menu-list-mobile {
  display: none;
}

.menu-active .menu-list {
  display: block;
}

.menu-active .menu-burger__line {
  background-color: transparent;
}

.menu-active .menu-burger__line:after {
  display: block;
  transform: translate(25%, 0%) rotate(45deg);
}

.menu-active .menu-burger__line:before {
  display: block;
  transform: translate(25%, -200%) rotate(135deg);
}

.hero {
  padding: 50px 0;
}
.hero-comments {
  background-size: contain;
}
.hero-main {
  padding-top: 150px;
}
.hero-main-container {
  position: relative;
}
.hero-wrapper {
  display: flex;
  flex-direction: column;
}
.hero-title {
  margin-bottom: 15px;
  font-size: 64px;
  text-align: left;
}
.hero-subtitle {
  margin-bottom: 90px;
}
.hero-main-list {
  margin-bottom: 185px;
}
.hero-main-list__item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 15px;
}
.hero-main-list__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #474747;
}
.hero-main__bg {
  position: absolute;
  right: 0;
  top: -140px;
  bottom: 0;
}

.year {
  padding: 50px 0;
}
.year-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages {
  padding: 50px 0;
}
.advantages-container {
  display: flex;
  justify-content: space-between;
}
.advantages-card {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border-radius: 28px;
}
.advantages-card__img {
  width: 88px;
  margin-bottom: 20px;
}
.advantages-card__text {
  width: 360px;
}
.advantages-card p {
  margin-bottom: 20px;
}

.feedback {
  padding: 50px 0;
}
.feedback-container {
  position: relative;
  padding: 65px 120px 65px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #DCE4EF;
  border-radius: 100px;
  background-image: url("../img/form-heart.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  overflow: hidden;
}
.feedback__img {
  position: absolute;
  left: 10px;
  bottom: 0;
}
.feedback p.title, .feedback .text {
  display: none;
}

.hero-contact {
  display: flex;
}

.contact {
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
  padding: 50px 70px;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact::after {
  content: "";
  position: absolute;
  top: 50px;
  right: 50%;
  bottom: 50px;
  width: 1px;
  background-color: #DCE4EF;
}
.contact-wrapper {
  position: relative;
  display: flex;
  gap: 20px;
  width: 45%;
  flex-direction: column;
  justify-content: space-between;
}

.map-container {
  width: 100%;
}

.comments {
  width: 60%;
  margin-right: 30px;
}
.comments-container {
  padding-top: 100px;
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  position: relative;
}

.comments-container sendform {
  height: fit-content;
  position: sticky;
  right: 0;
  top: 30px;
}

.comment {
  padding: 30px;
  background-color: #fff;
  border-radius: 0px 14px;
  width: 100%;
  margin-bottom: 30px;
}
.comment-rating {
  margin-bottom: 10px;
}
.comment__text {
  margin-bottom: 10px;
  word-break: break-all;
}
.comment-profile {
  display: flex;
  align-items: center;
}
.comment-profile__img {
  margin-right: 15px;
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 50%;
}
.comment-profile__name {
  font-family: "Philosopher-Bold", sans-serif;
}
.comment:nth-last-child(1) {
  margin-bottom: 0;
}

.devider {
  padding: 200px 0;
  position: relative;
  background-image: url("../img/body-bg.svg");
  background-repeat: no-repeat;
  background-position: left center;
}
.devider-bg {
  position: absolute;
  top: -150px;
  z-index: -1;
}
.devider-bg-left {
  left: 0;
}
.devider-bg-right {
  right: 0;
  transform: scale(-1, 1);
}
.devider-container .title {
  max-width: 900px;
  margin: auto;
  text-align: center;
  font-family: "Philosopher-Regular", sans-serif;
  font-weight: 100;
}
.devider-container .title b {
  font-family: "Philosopher-Bold", sans-serif;
}

.about {
  padding: 50px 0;
}
.about-container {
  display: flex;
  justify-content: space-between;
}
.about__img {
  max-width: 940px;
  max-height: 840px;
  border-radius: 30px;
  overflow: hidden;
  object-fit: cover;
  flex-basis: 70%;
}
.about-wrapper {
  flex-basis: 32%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-card {
  padding: 30px;
  background-color: #fff;
  border-radius: 30px;
  margin-bottom: 15px;
}
.about-card:nth-last-child(1) {
  margin-bottom: 0;
}
.about-card__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}
.about-card__text {
  font-size: 18px;
}

.standart {
  padding: 100px 0;
  position: relative;
  background-image: url("../img/standarts-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}
.standart-overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.6509803922);
  z-index: 1;
}
.standart-container {
  width: 960px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}
.standart__title {
  margin-bottom: 50px;
  text-align: center;
}
.standart-wrapper {
  padding: 30px;
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 30px;
  max-width: 920px;
  gap: 30px;
}
.standart-wrapper:after {
  content: "";
  position: absolute;
  height: 80%;
  width: 2px;
  background-color: #DCE4EF;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.standart-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 50%;
}
.standart-card__img {
  width: 200px;
  height: 90px;
  object-fit: contain;
  margin-bottom: 15px;
}
.standart-card__text {
  text-align: center;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #71716B;
}
.pagination-prev {
  margin-right: 10px;
  cursor: pointer;
}
.pagination-prev a {
  display: flex;
}
.pagination-next {
  margin-left: 10px;
  cursor: pointer;
}
.pagination-next a {
  display: flex;
}
.pagination-page {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: 3px;
  cursor: pointer;
  border-radius: 4px;
  transition: border 0.4s;
}
.pagination-page-active {
  border-radius: 4px;
  border: 1px solid #71716B;
}

.footer {
  background-color: #474747;
  color: #fff;
  padding-bottom: 20px;
}
.footer-wrap {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
}
.footer-wrapper-mobile {
  display: none;
}
.footer-devider {
  display: none;
}
.footer-wrapper.desktop .footer-wrap {
  padding: 0;
}
.footer-wrapper.mobile .footer-wrap {
  padding: 0;
}
.footer-wrapper.mobile .footer-wrap:nth-child(1) {
  margin-bottom: 20px;
}
.footer__title {
  width: 100%;
  margin-bottom: 15px;
  text-align: start;
  font-family: "Philosopher-Regular", sans-serif;
}
.footer-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.footer-list-wrap {
  display: flex;
  justify-content: space-between;
}
.footer-list-item {
  margin-bottom: 2px;
}
.footer-list-item__link {
  color: #fff;
  font-size: 12px;
}
.footer-list__arrow {
  display: none;
  width: 13px;
  transition: transform 0.2s;
}
.footer__img {
  padding: 10px;
  width: 80px;
  height: 56px;
  margin-right: 15px;
  background-color: #fff;
  border-radius: 3px;
  object-fit: contain;
  margin-bottom: 10px;
}
.footer__text {
  max-width: 350px;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 15px;
}
.footer-devider {
  box-sizing: border-box;
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin: 40px 0;
}

.footer-all-surg {
  margin-bottom: 0;
}

.header {
  width: 100%;
}

@media (max-width: 1500px) {
  body {
    overflow-x: hidden;
  }
  .container {
    max-width: 1140px;
  }
  .navigation {
    flex-wrap: wrap;
  }
  .navigation-button {
    margin-bottom: 40px;
  }
  .navigation-button:nth-last-child(1) {
    display: flex;
    justify-content: center;
    flex-basis: 47%;
  }
  .navigation-button:nth-last-child(2) {
    display: flex;
    justify-content: center;
    flex-basis: 47%;
  }
  .hero {
    padding-top: 70px;
  }
  .hero-subtitle {
    margin-bottom: 50px;
  }
  .hero-main-list {
    margin-bottom: 120px;
  }
  .hero-main__bg {
    max-width: 560px;
    top: -50px;
  }
  .advantages-card__text {
    width: 300px;
  }
  .feedback-container {
    padding-right: 55px;
    background-size: 550px;
  }
  .feedback__img {
    width: 600px;
    left: -50px;
  }
  .devider-bg-left {
    left: -150px;
  }
  .devider-bg-right {
    right: -150px;
  }
  .about-container {
    flex-direction: column;
  }
  .about__img {
    max-width: 100%;
    max-height: 770px;
    flex-basis: unset;
    margin-bottom: 20px;
  }
  .about-wrapper {
    flex-basis: unset;
    flex-direction: row;
  }
  .about-card {
    margin-right: 20px;
    margin-bottom: 0;
  }
  .about-card:nth-last-child(1) {
    margin-right: 0;
  }
}
@media (max-width: 1200px) {
  body {
    background-position-y: 85px;
  }
  .container {
    max-width: 960px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .hero {
    padding-top: 50px;
  }
  .hero-main-list {
    margin-bottom: 60px;
  }
  .hero-main__bg {
    max-width: 410px;
    top: 25px;
  }
  .advantages-card {
    padding: 20px;
  }
  .advantages-card__text {
    width: 260px;
  }
  .advantages-card .subtitle {
    font-size: 24px;
  }
  .feedback-container {
    justify-content: center;
  }
  .feedback__img {
    display: none;
  }
  .devider-bg-left {
    left: -280px;
  }
  .devider-bg-right {
    right: -280px;
  }
  .devider-container .title {
    max-width: 670px;
  }
  .about__img {
    max-height: 650px;
  }
  .footer-wrapper-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (max-width: 992px) {
  body {
    font-size: 14px;
  }
  h1, .title {
    font-size: 29px;
  }
  h2, .subtitle {
    font-size: 21px;
  }
  .text {
    font-size: 14px;
  }
  .container {
    max-width: 760px;
  }
  .logo {
    height: 40px;
    width: 93px;
  }
  .header {
    position: relative;
    padding-bottom: 15px;
  }
  .header-social__link {
    font-size: 14px;
    margin-left: 5px;
  }
  .header-social__icon {
    width: 12px;
  }
  .header-menu {
    order: 1;
    position: static;
  }
  .header-menu__text {
    display: none;
  }
  .menu {
    padding: 15px;
  }
  .menu-burger {
    margin: 0;
  }
  .menu-list {
    display: block;
    position: fixed;
    right: 0;
    top: 55px;
    bottom: 0;
    left: 100%;
    border: none;
    box-shadow: none;
    border-radius: 0;
    transform: unset;
    transform: translateY(34px);
    transition: left 0.5s;
  }
  .menu-list-item__link {
    color: #71716B;
    font-size: 14px;
  }
  .menu-active .menu-list {
    left: 0;
    display: flex;
    flex-direction: column;
    text-align: start;
  }
  .menu-active .menu-burger__line:after {
    transform: translate(0%, 0%) rotate(45deg);
  }
  .menu-active .menu-burger__line:before {
    transform: translate(0%, -200%) rotate(135deg);
  }
  .navigation {
    flex-wrap: wrap;
  }
  .navigation-list {
    position: static;
  }
  .navigation-button {
    width: 100%;
    justify-content: space-between;
  }
  .navigation-button:nth-last-child(1) {
    display: block;
    flex-basis: unset;
  }
  .navigation-button:nth-last-child(2) {
    display: block;
    flex-basis: unset;
  }
  .navigation-button-wrapper {
    width: 100%;
    justify-content: space-between;
  }
  .navigation-button__name {
    width: unset;
  }
  .hero {
    padding-top: 50px;
  }
  .hero-title {
    font-size: 29px;
    margin-bottom: 5px;
  }
  .hero-subtitle {
    font-size: 14px;
    margin-bottom: 25px;
  }
  .hero-main-list {
    margin-bottom: 100px;
  }
  .hero-main-list__item {
    margin-bottom: 10px;
  }
  .hero-main__bg {
    max-width: 390px;
    top: -50px;
  }
  .year .subtitle {
    font-size: 29px;
  }
  .advantages-container {
    flex-direction: column;
    align-items: center;
  }
  .advantages-card {
    width: 500px;
    margin-bottom: 20px;
  }
  .advantages-card:nth-last-child(1) {
    margin-bottom: 0;
  }
  .feedback-container {
    padding: 50px 0;
    max-width: 100%;
    border-radius: 0;
    flex-direction: column;
  }
  .feedback p.title, .feedback .text {
    display: block;
  }
  .feedback .text {
    margin-bottom: 20px;
    text-align: center;
  }
  sendform {
    max-width: 95%;
  }
  sendform .form {
    width: 100%;
  }
  sendform .form-title, sendform .form .form-subtitle {
    display: none;
  }
  sendform .form-subtitle:nth-last-child(1) {
    display: block;
  }
  sendform .form-wrapper {
    flex-direction: column;
    align-items: center;
  }
  sendform .form-wrapper label {
    width: 100%;
  }
  sendform .form-button {
    padding: 10px 90px;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .devider-bg-left {
    left: -210px;
  }
  .devider-bg-right {
    right: -210px;
  }
  .devider-container .title {
    max-width: 370px;
    font-size: 21px;
  }
  .about__img {
    max-height: 650px;
  }
  .about-card__title {
    font-size: 21px;
    text-align: center;
  }
  .about-card__text {
    font-size: 14px;
    text-align: center;
  }
  .standart {
    padding: 50px 0;
    background-image: none;
  }
  .standart-overlay {
    display: none;
  }
  .footer-devider {
    display: block;
  }
  .footer-wrap {
    flex-direction: column;
  }
  .footer-wrapper-mobile {
    flex-direction: column;
  }
  .footer-wrapper-mobile .footer-wrap .footer__text {
    max-width: 100%;
    width: 100%;
    margin: 0;
  }
  .footer-wrapper-mobile .footer-wrap {
    flex-direction: row;
    align-items: center;
  }
  .footer-wrapper:nth-last-child(1) {
    flex-basis: min-content;
  }
  .footer-list-item {
    display: none;
  }
  .footer-list-item.active {
    display: block;
  }
  .footer-list__arrow {
    display: block;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
  .hero {
    padding-top: 50px;
  }
  .hero-wrapper {
    max-width: 60%;
  }
  .hero-main-list {
    max-width: 68%;
    margin-bottom: 30px;
  }
  .hero-main-list__item {
    margin-bottom: 10px;
  }
  .hero-main__bg {
    max-width: 300px;
    top: -53px;
  }
  .feedback-container {
    max-width: 100%;
  }
  .devider {
    padding: 50px 0;
  }
  .devider-bg {
    display: none;
  }
  .about__img {
    max-height: 400px;
  }
  .about-wrapper {
    flex-direction: column;
  }
  .about-card {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }
  .about-card:nth-last-child(1) {
    margin-bottom: 0;
  }
  .standart-wrapper {
    flex-direction: column;
  }
  .standart-wrapper:after {
    height: 2px;
    width: 90%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 92%;
  }
  .hero {
    padding-top: 50px;
  }
  .hero-wrapper {
    max-width: 100%;
  }
  .hero-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero-main-list {
    max-width: 100%;
    margin-bottom: 0;
  }
  .hero-main-list__item {
    margin-bottom: 10px;
  }
  .hero-main__bg {
    position: static;
  }
  .year .subtitle {
    font-size: 21px;
  }
  .advantages-card {
    width: 100%;
  }
  .feedback-container {
    max-width: 100%;
  }
  sendForm .form-button {
    width: 100%;
    margin-right: 0;
  }
  .about__img {
    max-height: 250px;
  }
}