.devider
  padding: 200px 0
  position: relative
  &-bg
    position: absolute
    top: -150px
    z-index: -1
    display: none
    &-left
      left: 0
    &-right
      right: 0
    &-max
      display: block
  &-container
    & .title
      max-width: 900px
      margin: auto
      text-align: center
      font-family: $regular
      font-weight: 100
      margin-bottom: 20px
      & b
        font-family: $bold
    & .text
      max-width: 650px
      margin: auto
      margin-bottom: 20px
      &:nth-last-child(1)
        margin-bottom: 0
  &-big
    padding-bottom: 50px
    & .devider
      &-bg
        top: 75px
    & .title
      font-family: $bold
