.info
  &.grid
    & .container
      display: grid
      grid-template-columns: repeat(3,1fr)
      grid-column-gap: 30px
      grid-row-gap: 30px
      justify-items: center
    &.contraindications
      & .container
        grid-template-columns: repeat(2,1fr)

  & .container
    display: flex
    justify-content: space-between
  & .subtitle
    margin-bottom: 30px

  &-wrapper
    flex-basis: 60%
  &__text
    margin-bottom: 20px

    &:nth-last-child(1)
      margin-bottom: 0
  &__img
    max-height: 330px
    flex-basis: 35%
    overflow: hidden
    object-fit: cover
  &-list
    margin-bottom: 20px

    & .subtitle
      text-align: left
    &__item
      color: $grey
      padding-left: 15px
      margin-bottom: 8px
      position: relative
      &:before
        content: ''
        position: absolute
        left: 0
        top: 10px
        transform: translateY(-50%)
        background-color: $black
        width: 6px
        height: 6px
        border-radius: 50%
  &.reverse
    & .container
      flex-direction: row-reverse
  &.center
    & .container
      justify-content: center
      flex-direction: row
    & .info
      &-wrapper
        max-width: 850px
